In [1]:
panjang = 10

In [2]:
lebar = 5

In [3]:
luas = panjang * lebar

In [ ]:
nama = input('serly: ')

In [10]:
print('Halo,',serly, '.. selamat datang!')

NameError: ignored

In [ ]:
nama = input('serly')

In [ ]:
print('variabel nama bertipe data: ', type(nama))

In [14]:
print('kalkulator luas persegi panjang\n')

kalkulator luas persegi panjang

In [ ]:
panjang = input('masukkan panjang: ')

In [ ]:
lebar = input('masukkan lebar: ')

In [12]:
print('Luas =', panjang * lebar)

Luas = 50

In [ ]:
masukkan panjang: 10

In [ ]:
masukkan lebar: 5

In [ ]:
Traceback (most recent call last):

In [19]:
file "02-int.py", line 5, in <module>

SyntaxError: ignored

In [ ]:
print('Luas =', panjang * lebar)

In [21]:
TypeError: can 't multiply sequence by non-int of type 'str'

SyntaxError: ignored

In [22]:
print('kalkulator luas persegi panjang\n')

kalkulator luas persegi panjang

In [ ]:
panjang = input('masukkan lebar: ')

In [ ]:
lebar = input('masukkan lebar: ')

In [ ]:
print('Luas =', int(panjang) * int(lebar))